<div class='dev-team__overlay'>
  <div class='dev-team__modal'>

    <button type='button' class='close-overlay__button'></button>
    <div class='dev-team__container'>
      <ul class='dev-team__list'></ul>
    </div>
    
  </div>
</div>