<li class="event__card">
    <img
      class="event__image"
      src="http://s1.ticketm.net/dam/a/196/6095e742-64d1-4b15-aeac-c9733c52d196_66341_RETINA_PORTRAIT_16_9.jpg"
      alt="event"
    />
    <h2 class="event__card-header">WGC Cadillac Championship</h2>
    <p class="event__card-description">2021-02-25</p>
    <a class="event__card-link" href="">Bradenton, Florida</a>
</li>