<div class="container">
    <ul class="event__list">
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
    </ul>
</div>