<div class="container event__list--js">
    <ul class="event__list" id="event-list-js">
 {{!-- {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}}
 {{> ../template/event-card.hbs}} --}}
    </ul>
</div>