<form class="form-box">
    <input class="search__input" placeholder="Start searching" type="text" />

    <div class="select">
        <div class="select__header">
            <div class="select__current">Choose country
                {{!-- <span class="select__icon"></span> --}}
            </div>
        </div>

        <ul class="select__body">
            <li class="select__item">Canada</li>
            <li class="select__item">Czech Republic</li>
            <li class="select__item">France</li>
            <li class="select__item">Germany</li>
            <li class="select__item">Hungary</li>
            <li class="select__item">Poland</li>
            <li class="select__item">Romania</li>
            <li class="select__item">Spain</li>
            <li class="select__item">Ukraine</li>
            <li class="select__item">United States Of America</li>
        </ul>
    </div>

</form>