<form class="form-box" id="search-form">
    <input class="search__input" name="query" placeholder="Start searching" type="text" autocomplete="off" />

    <div class="select" tabindex="0">
        <div class="select__header">
            <div class="select__current" data-code="">Choose country
            </div>
        </div>

        <ul class="select__body">
            <li class="select__item" data-code="" tabindex="0">All countries</li>
            <li class="select__item" data-code="ca" tabindex="0">Canada</li>
            <li class="select__item" data-code="cz" tabindex="0">Czech Republic</li>
            <li class="select__item" data-code="fr" tabindex="0">France</li>
            <li class="select__item" data-code="de" tabindex="0">Germany</li>
            <li class="select__item" data-code="hu" tabindex="0">Hungary</li>
            <li class="select__item" data-code="pl" tabindex="0">Poland</li>
            <li class="select__item" data-code="ro" tabindex="0">Romania</li>
            <li class="select__item" data-code="es" tabindex="0">Spain</li>
            <li class="select__item" data-code="ua" tabindex="0">Ukraine</li>
            <li class="select__item" data-code="us" tabindex="0">USA</li>
        </ul>
    </div>

</form>