<form class="form-box" id="search-form" >
    <input class="search__input" name="query" placeholder="Start searching" type="text"/>

<div class="select"> 
    <div class="select__header">
        <div class="select__current" data-code="">Choose country
        </div>
    </div>

    <ul class="select__body">
        <li class="select__item" data-code="">All countries</li>
        <li class="select__item" data-code="ca">Canada</li>
        <li class="select__item" data-code="cz">Czech Republic</li>
        <li class="select__item" data-code="fr">France</li>
        <li class="select__item" data-code="de">Germany</li>
        <li class="select__item" data-code="hu">Hungary</li>
        <li class="select__item" data-code="pl">Poland</li>
        <li class="select__item" data-code="ro">Romania</li>
        <li class="select__item" data-code="es">Spain</li>
        <li class="select__item" data-code="ua">Ukraine</li>
        <li class="select__item" data-code="us">USA</li>
    </ul>
</div>

</form>