<div class="container">
    <ul class="grid__list">
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
 {{> ../template/main.hbs}}
    </ul>
</div>