<header class="header">
  <div class="header__container">
    <div class="header__logo"></div>
    <h1 class="header__main">FIND BEST EVENTS AROUND THE WORLD</h1>
    {{> ../template/dev-team.hbs}}
  </div>  
</header>