<header class="header">
  <div class="header__container">
    <div class="header__logo"></div>
    <h1 class="header__main">FIND BEST EVENTS AROUND THE WORLD</h1>
    <form class="header__form">
      <input
        class="search__input"
        placeholder="Start searching"
        type="text"
          />
      <input
        class="country__dropdown"
        placeholder="Choose country"
        type="text"
      />
    </form>
  </div>
</header>