<div class='loader__overlay visually-hidden'>
  <div class='loader'>
    <p class='loader__text'>l</p>
    <p class='loader__text'>o</p>
    <p class='loader__text'>a</p>
    <p class='loader__text'>d</p>
    <p class='loader__text'>i</p>
    <p class='loader__text'>n</p>
    <p class='loader__text'>g</p>
  </div>
</div>