<li class="grid__item">
    <img
      class="grid__image"
      src="http://s1.ticketm.net/dam/a/196/6095e742-64d1-4b15-aeac-c9733c52d196_66341_RETINA_PORTRAIT_16_9.jpg"
      alt="event"
    />
    <h2 class="grid__item-header">WGC Cadillac Championship</h2>
    <p class="grid__item-description">2021-02-25</p>
    <a class="grid__item-link" href="">Bradenton, Florida</a>
</li>