<div class="container">
    <ul class="grid__list">
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background2.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Atlas Weekend</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">VDNH</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background3.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background4.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background4.png"
          alt="photo"
         />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background3.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background2.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background2.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background3.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
      <li class="grid__item">
        <img
          class="grid__image"
          src="../images/test-background2.png"
          alt="photo"
        />
        <h2 class="grid__item-header">Eurovision 2021 finals!</h2>
        <p class="grid__item-description">2021-05-13</p>
        <a class="grid__item-link" href="">Palace of Ukraine</a>
      </li>
    </ul>
</div>