<div class="container visually-hidden modal-container--js">
    <div class="backdrop">
        <div class="modal-container">
            <button class="modal__close-btn" type="button">
                <svg class="modal__close-btn__svg" width="17" heigth="17">
                    <use href="./images/test/svg/close.svg"></use>
                </svg>
            </button>
            <img class="modal-circle-img" src="https://muzikercdn.com/uploads/products/5224/522470/main_48c58f7d.jpg"
                alt="circle photo of the artist">
            <div class="modal-info-container">
                <img class="modal-large-img" src="https://muzikercdn.com/uploads/products/5224/522470/main_48c58f7d.jpg"
                    alt="large photo of the artist">
                <ul class="modal-info-list">
                    <li class="modal-info-list__item">
                        <h2 class="modal-info-list__title">info</h2>
                        <p class="modal-info-list__text">Atlas Weekend is the largest music festival in Ukraine.
                            More than 200 artists will create a proper music festival atmosphere on 10 stages</p>
                    </li>
                    <li class="modal-info-list__item">
                        <h2 class="modal-info-list__title">when</h2>
                        <p class="modal-info-list__text">2021-06-09 20:00 <br>(Kyiv/Ukraine)</p>
                    </li>
                    <li class="modal-info-list__item">
                        <h2 class="modal-info-list__title">where</h2>
                        <p class="modal-info-list__text">Kyiv, Ukraine <br> <span
                                class="modal__to-uppercase">VDNH</span></p>
                    </li>
                    <li class="modal-info-list__item">
                        <h2 class="modal-info-list__title">who</h2>
                        <p class="modal-info-list__text">The Black Eyed Peas</p>
                    </li>
                    <li class="modal-info-list__item">
                        <h2 class="modal-info-list__title">prices</h2>

                        <p class="modal-info-list__text">
                            <svg class="modal-barcode-svg" width="30" heigth="30">
                                <use href="./src/images/test/svg/ticket1.svg"></use>
                            </svg>
                            Standart 300-500 UAH
                        </p>
                        <button class="buy-ticket-btn" type="button">buy tickets</button>

                        <p class="modal-info-list__text">
                            <svg class="modal-barcode-svg" width="30" heigth="30">
                                <use href="./src/images/test/svg/ticket1.svg"></use>
                            </svg>

                            <span class="modal__to-uppercase">vip</span> 1000-1500 <span
                                class="modal__to-uppercase">uah</span>
                        </p>
                        <button class="buy-ticket-btn" type="button">buy tickets</button>
                    </li>
                </ul>
            </div>
            <button class="modal__more-from-btn" type="button">more from this author</button>
        </div>
    </div>
</div>