<div class="pagination-container visually-hidden">
    <div id="pagination">
        <ul>
            <li><button class=" pagination__less-horiz"> &laquo; </button></li>
        </ul>
    </div>
    <div class="pagination-pages"><ul id="pagination">
        <li><button class="pagination__page is-active" id="1"> 1 </button></li>
        <li><button class="pagination__page" id="2"> 2 </button></li>
        <li><button class="pagination__page" id="3"> 3 </button></li>
        <li><button class="pagination__page" id="4"> 4 </button></li>
        <li><button class="pagination__page" id="5"> 5 </button></li>
   
    </ul></div>
    <div id="pagination">
        <ul>
            <li><button class=" pagination__more-horiz"> &raquo; </button></li>
        </ul>
    </div>
</div>
