<ul id="filter-button" class="filter-container">
    <li><button class="filter__btn" id="events">events</button></div>
    <li><button class="filter__btn" id="attractions">attractions</button></li>
    <li><button class="filter__btn" id="venues">venue</button></li>
</ul>