<div class="pagination-container visually-hidden">
    <div class="pagination-pages"><ul id="pagination">
        <li><button class="pagination__page is-active " id="1"> 1 </button></li>
        <li><button class="pagination__page" id="2"> 2 </button></li>
        <li><button class="pagination__page" id="3"> 3 </button></li>
        <li><button class="pagination__page" id="4"> 4 </button></li>
        <li><button class="pagination__page" id="5"> 5 </button></li>
        {{!-- <li><button class="pagination__page" data-action="pagination-btn"> 6 </button></li>
        <li><button class="pagination__page" data-action="pagination-btn"> 7 </button></li>
        <li><button class="pagination__page" data-action="pagination-btn"> 8 </button></li>
        <li><button class="pagination__page" data-action="pagination-btn"> 9 </button></li>
        <li><button class="pagination__page" data-action="pagination-btn"> 10 </button></li> --}}
    
    </ul></div>
    <div id="pagination">
        <ul>
            <li><button class=" pagination__more-horiz"> ... </button></li>
        </ul>
    </div>
</div>
