<ul id="filter-button" class="filter-container visually-hidden">
    <li><button class="filter__btn" id="event" disabled >events</button></div>
    <li><button class="filter__btn" id="attraction" disabled >attractions</button></li>
    <li><button class="filter__btn" id="venue" disabled >venues</button></li>
</ul>