<div class="pagination-container">
    <div class="pagination__page-overlay pagination__page-active"><a href="#" class="pagination__page"> 1 </a></div> 
    <div class="pagination__page-overlay"><a href="#" class="pagination__page"> 2 </a></div>
    <div class="pagination__page-overlay"><a href="#" class="pagination__page"> 3 </a></div>
    <div class="pagination__page-overlay"><a href="#" class="pagination__page"> 4 </a></div>
    <div class="pagination__page-overlay"><a href="#" class="pagination__page"> 5 </a></div>
    <a href="#" class="pagination__more-horiz"> ... </a>
    <div class="pagination__page-overlay"><a href="#" class="pagination__page"> 29 </a></div>
</div>