<button class="modal__close-btn" type="button">
    <svg class="modal__close-btn__svg" width="17" heigth="17"></svg>
</button>
<div class="modal-info-container venues">
    <img class="modal-circle-img venue" src="{{images.0.url}}"
    <ul></ul>
    <ul class="modal-info-list venue">
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">info</h2>
            <p class="modal-info-list__text">{{name}}</p>
        </li>
    </ul>
</div>
<button class="modal__more-from-btn venue" type="button" data-author='{{name}}'>more from this venue</button>