{{> ../template/header.hbs}}

<main>
    {{> ../template/modal.hbs}}
    {{> ../template/form.hbs}}
    {{> ../template/events.hbs}}
    {{> ../template/back-to-top-btn.hbs}}
    {{> ../template/pagination.hbs}}
</main>
{{> ../template/footer.hbs}}
