{{> ../template/loader.hbs}}
{{> ../template/dev-team-modal.hbs}}
{{> ../template/header.hbs}}

<main>
    {{> ../template/pagination-filter.hbs}}
    {{> ../template/modal.hbs}}
    {{> ../template/form.hbs}}
    {{> ../template/events.hbs}}
    {{> ../template/floating-shapes.hbs}}
    {{> ../template/back-to-top-btn.hbs}}
    {{> ../template/pagination.hbs}}
</main>
{{> ../template/footer.hbs}}
