.dev-team__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 998;
  backdrop-filter: blur(3px);
  overflow-y: scroll;
}
.dev-team__overlay::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: rgba(148, 187, 233, 1);
}
.dev-team__overlay::-webkit-scrollbar-thumb {
  background: var(--common-pink);
  border-radius: 5px;
}
.dev-team__overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.dev-team__modal {
  position: absolute;
  top: 3%;
  left: 5%;
  right: 5%;
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(7 8 8) 100%
  );
  border-radius: 150px 0;
}

@media screen and (min-width: 768px) {
  .dev-team__modal {
    top: 10%;
    left: 10%;
    right: 10%;
  }
}

@media screen and (min-width: 1600px) {
  .dev-team__modal {
    top: 10%;
    left: 26%;
    right: 26%;
  }
}
