.dev-team__card {
  position: relative;
  text-align: center;
}

.dev-team__card::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px 0 50px 0;
  border: 1px solid var(--border-pink);
}

@media (min-width: 320px) {
  .dev-team__card:before {
    width: 109px;
    height: 101px;
  }
}

@media (min-width: 768px) {
  .dev-team__card:before {
    width: 153px;
    height: 143px;
    top: -14px;
    right: -14px;
    pointer-events: none;
  }
}

.dev-team__card-image {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  overflow: hidden;
  /* object-fit: cover; */
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .dev-team__card-image {
    width: 180px;
    height: 227px;
  }
}

.dev-team__card-header {
  font-weight: 900;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin-top: 15px;
  color: var(--common-pink);
}

.dev-team__card-desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: var(--white);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__icon {
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.github-svg,
.linkedin-svg {
  display: block;
  border-radius: 50%;
}

.github-svg:hover,
.linkedin-svg:hover,
.github-svg:focus,
.linkedin-svg:focus {
  border: 1px solid var(--common-pink);
  box-shadow: 0px 2px 15px 2px rgba(220, 86, 198, 0.336);
  animation: bounce 1s;
}

.github-svg::before,
.linkedin-svg::before {
  display: inline-block;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.github-svg::before {
  background-image: url('../images/svg/github.svg');
}
.linkedin-svg::before {
  background-image: url('../images/svg/linkedin-2.svg');
}

#team-1 {
  background-image: url('../images/team/ivan-filipchyk.jpg');
}

#team-2 {
  background-image: url('../images/team/kate-podolianets.jpg');
}

#team-3 {
  background-image: url('../images/team/aleksandrs-barkancevs.jpg');
}

#team-4 {
  background-image: url('../images/team/denys-kodak.jpg');
}

#team-5 {
  background-image: url('../images/team/ivans-borovikovs.jpg');
}

#team-6 {
  background-image: url('../images/team/nina-motorna.jpg');
}

#team-7 {
  background-image: url('../images/team/olena-kozakova.jpg');
}

#team-8 {
  background-image: url('../images/team/oleg-shevchenko.jpg');
}
