.dev-team-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  box-shadow: var(--box-shadow-static);
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .dev-team-btn {
    visibility: visible;
  }
}

.icon-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid var(--common-pink);
  background-color: var(--main-bg-cl);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  visibility: hidden;
}

.icon-btn:hover {
  background-color: var(--common-pink);
}

@media screen and (min-width: 1024px) {
  .icon-btn {
    visibility: visible;
  }
}

.add-btn:hover {
  width: 130px;
}

.add-btn::before,
.add-btn::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 3px;
  top: calc(50% - 2px);
  background-color: var(--white);
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: var(--white);
  font-weight: 500;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 2px;
  top: calc(50% - 2px);
  background-color: var(--white);
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
