.event__list {
  display: grid;
  position: relative;
  z-index: -10;
  max-width: 1200px;
  /* grid-template-columns: repeat(auto-fill, minmax(128px, 4fr)); */
  grid-template-columns: repeat(2, 120px);
  grid-auto-rows: auto;
  grid-column-gap: 14px;
  grid-row-gap: 40px;
  list-style: none;
  margin-bottom: 40px;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .event__list {
    grid-template-columns: repeat(2, 128px);
    grid-column-gap: 14px;
    grid-row-gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .event__list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 27px;
    grid-row-gap: 60px;
    border-left: 1px solid var(--border-gray);
    border-right: 1px solid var(--border-gray);
  }
}

@media screen and (min-width: 1280px) {
  .event__list {
    grid-template-columns: repeat(4, 180px);
    grid-column-gap: 70px;
    grid-row-gap: 65spx;
    padding: 0 60px;
  }
}

@media screen and (min-width: 768px) {
  .event__list::before {
    position: absolute;
    content: '';
    width: 126px;
    height: 126px;
    left: -65px;
    top: 145px;

    border: 1px solid var(--border-gray);
    border-radius: 100px;
    box-sizing: border-box;
    z-index: -1;
    background: var(--modal-black-cl);
  }
}

@media screen and (min-width: 1280px) {
  .event__list::before {
    width: 200px;
    height: 200px;
    left: -100px;
    top: 345px;
  }
}

@media screen and (min-width: 768px) {
  .event__list::after {
    position: absolute;
    content: '';
    width: 126px;
    height: 126px;
    left: 525px;
    top: 1215px;

    border: 1px solid var(--border-gray);
    border-radius: 100px;
    box-sizing: border-box;
    z-index: -1;
    background: var(--modal-black-cl);
  }
}

@media screen and (min-width: 1280px) {
  .event__list::after {
    width: 200px;
    height: 200px;
    left: 945px;
    top: 877px;
  }
}
