.header {
  height: 300px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--header-linear),
    url(../images/header/mobile/pic-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: var(--header-linear),
      url(../images/header/mobile/pic-mobile@2x.jpg);
  }
}

@media screen and (min-width: 320px) {
  .header {
    height: 317px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 400px;
    background-image: var(--header-linear),
      url(../images/header/tablet/pic-tablet.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: var(--header-linear),
      url(../images/header/tablet/pic-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: var(--header-linear),
      url(../images/header/desktop/pic-desktop.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: var(--header-linear),
      url(../images/header/desktop/pic-desktop@2x.jpg);
  }
}

.header__main {
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding-top: 78px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--common-pink);
}

@media screen and (min-width: 320px) {
  .header__main {
    width: 212px;
  }
}

@media screen and (min-width: 768px) {
  .header__main {
    width: 353px;
    font-size: 30px;
    line-height: 37px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__main {
    width: 588px;
    font-size: 49px;
    line-height: 61px;
    padding-top: 40px;
    animation-name: zoomIn;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0.3);
      filter: blur(10px);
    }
    40% {
      transform: scale(1);
    }
    100% {
      filter: blur(0);
      transform: scale(1);
    }
  }
}

.header__logo {
  position: absolute;
  width: 107.49px;
  height: 90px;
  left: 0;
  top: 0;

  background-image: url(../images/svg/header-logo.svg);
  backdrop-filter: blur(30px);
  background-size: cover;
  border-bottom-right-radius: 100%;
}

@media screen and (min-width: 768px) {
  .header__logo {
    left: 0;
    top: 0;
    width: 180px;
    height: 151px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    left: 0;
    top: 0;
    width: 238px;
    height: 201px;
  }

  [data-pnotify].pnotify.stack-bar-top {
    font-size: 20px;
  }
}

[data-pnotify].pnotify.stack-bar-top {
  width: 100%;
  border-radius: 50px;

  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  background-color: var(--main-bg-cl);
  color: var(--common-pink);
  box-shadow: var(--box-shadow);
}
