*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--modal-black-cl);
}

body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
  height: 200px;
}

body::-webkit-scrollbar-thumb {
  background: var(--common-pink);
  border-radius: 5px;
}
