#filter-button {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

#filter-button li {
  display: inline-block;
}

.filter__btn {
  display: block;
  text-align: center;
  margin-left: 5px;
  border: none;
  font: inherit;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  border-radius: 7px 2px;
  border: 1px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.filter__btn:hover {
  border-radius: 7px 2px;
  border: 1px solid (--common-pink);
  color: var(--common-pink);
}

.filter__btn:focus {
  border-radius: 7px 2px;
  border: 1px solid (--common-pink);
  color: var(--common-pink);
  box-shadow: 0px 2px 15px 2px rgba(220, 86, 198, 0.336);
  animation: bounce 1s;
}

.filter__btn.is-active {
  border-radius: 7px 2px;
  border: 1px solid (--common-pink);
  color: var(--common-pink);
  box-shadow: 0px 2px 15px 2px rgba(220, 86, 198, 0.336);
}
