:root {
  --common-pink: #dc56c5; /* главный розовый цвет текстов и рамок*/
  --common-gray: #939393; /* главный серый цвет текстов */

  --main-bg-cl: rgba(11, 11, 11, 0.5); /* бекграунд хедера */
  --form-bg-cl: rgba(255, 255, 255, 0.2); /* бекграунд инпутов */

  --header-linear: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0) 0%,
    rgba(14, 14, 14, 0.8) 100%
  ); /* градиент хедера */

  --border-gray: #212121; /* цвет полосы в main*/
  --border-pink: rgba(220, 86, 197, 0.3); /* цвет бордера в карточках */

  --modal-black-cl: #0e0e0e; /* основной цвет текста в модалке */
  --modal-blue-cl: #4c00fe; /* вторичный цвет текстов и бекграундов в модалке */
  --modal-backdrop: rgba(32, 13, 29, 0.6); /* цвет бэкдропа */
  --modal-bg-cl: #fff2fd; /* цвет бэкграунда модалки */

  --white: #ffffff; /* основной белый цвет текстов */
  --cubic: cubic-bezier(0.4, 0, 0.2, 1); /* кубик =) */
}
